
		<div class="header-w3l">
			<h1>Vodafone SSO</h1>
		</div>
		<!--//header-->
		<!--main-->
		<div class="main-content-agile">
			<div class="sub-main-w3">	
				<h2>Sign In</h2>
				<form [formGroup]="form" (ngSubmit)="sendEmail(form.controls.emailField.value)" novalidate>
					<h6>sign in with vodafone email</h6>
				
					<div class="icon1">
						<input placeholder="Email" name="mail" type="email" formControlName="emailField"  required="">
					</div>
						<div class="clear"></div>
					<input type="submit" value="send Email">
				</form>
			</div>
		</div>
		<!--//main-->
	<div class="footer">
			<!--<p>© 2017 SSO Sign In Form. All rights reserved</p>-->
		</div>