<!--<div class="login-box">
  <h2>SSO Vodafone</h2>
  <form [formGroup]="form" (ngSubmit)="sendEmail(form.controls.password.value)" novalidate>
    <div class="form-group">
      <label for="">Temp Password</label>
      <input type="number" placeholder="enter your temp password " formControlName="password" class="form-control">
    </div>

    <button class="btn  btn-primary" [disabled]="!form.valid " type="submit">Login</button>

  </form>
</div>

<h2 *ngIf="token">Your token is </h2>{{token | json}}-->

  <div class="body menu row">
<h2 class="center" style="color: red; text-align:center ; margin-top: 8%;
    font-weight: 700;
    letter-spacing: 6px;">Vodafone SSO</h2>
<button id="findpass">What's the password?</button>
<div class="form">
  <div class="forceColor"></div>
  <div class="topbar">
    <div class="spanColor"></div>
    <form [formGroup]="form" (ngSubmit)="sendEmail(form.controls.password.value)" novalidate>
    <input type="password" class="input" id="password" formControlName="password" placeholder="Password"/>
    <button class="btn  btn-primary" class="submit" id="submit" type="submit">Login</button>
    </form>
  </div>
</div>
<article class="article">
 </article>
 
