<div class="login-box">
  <h2>SSO Vodafone</h2>
  <form [formGroup]="form" (ngSubmit)="sendEmail(form.controls.password.value)" novalidate>
    <div class="form-group">
      <label for="">Temp Password</label>
      <input type="number" placeholder="enter your temp password " formControlName="password" class="form-control">
    </div>

    <button class="btn  btn-primary" [disabled]="!form.valid " type="submit">Login</button>

  </form>
</div>

<h2 *ngIf="token">Your token is </h2>{{token | json}}